*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEFD5;
    font-family: 'Karla', sans-serif;
    font-size: large;
    color: #808080;
    font-weight: 200;
    text-decoration-style: solid;
}

 h1 {
    margin-top: 30px;
    font-family: 'Karla', sans-serif; 
    color: 	#FFFFF0;
    line-height: 25%;
    text-align: justify;
    background-color: #FFDAB9;
    border-style: solid;
    border-width: 20px;
    border-color: #FFDAB9;
    font-size: 35px;
    font-weight: bold;
    font-style: oblique;
 }

 .target {margin-left: 20px;  
 }

 a { font-family: 'Karla', sans-serif;
    font-size: 25px;
    color:#FFFFF0;
    text-decoration: none;
    background-color: #FFDAB9;
    font-weight: bold;
    font-style: oblique;
    margin-left: 1680px;
    padding: 3px;
 }

 img { border-radius: 100%;
    border-style: dotted;
    border-color: #FF6347;
    border-width: 50%;
    margin: 100px;
    right: 20px;
    padding: 5px;
 }

 p { text-align: center;
    list-style-type: none
 }

 ul{text-align: center;
 }

 .inside { list-style-type: none;
    list-style-position: inside;
 }

 .button { background-color:#FFDAB9;
    padding: 0,7%;
    border-style: dotted;
 }
 .sobre-mim {text-align: justify;
    margin: 30px;

    display: inline-block;
    width: 50%;
    line-height: 150%;
    padding: 30px;
 }

 .jessi-img {
    text-align: center;
 }

 .trybe {
    color: #022c16;;
 }

 .primeiro-paragrafo {
    margin: 0 auto;
    width: fit-content;
    width: 700px;
    line-height: 150%;
    padding: 60px;  
 }

 .hello {  
    color: #FF6347;
    width: fit-content;
    line-height: 170%;
    padding: 735px;
    font-size: 39px;  
 }

 .subtitulo {
    margin: 5px;
    display: inline-block;
    width: 55%;
    line-height: 160%;
    font-size: 39px;
    color: #FF6347;
 }